.restaurant {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  &__text {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;

    &__title {
      font-family: 'RobotoBold';
      font-size: 36px;
      line-height: 42px;

      color: #000000;
    }

    &__stars {
      display: flex;
      align-items: center;

      font-family: 'RobotoBold';
      font-size: 18px;
      line-height: 32px;
      color: #ffc107;

      gap: 5px;
    }

    &__categories {
      font-family: 'RobotoBold';

      font-size: 18px;
      line-height: 32px;

      color: #8c8c8c;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    justify-content: center;
    gap: 20px;
    
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 300px);
      gap: 20px;
    }
    @media (max-width: 960px) {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      gap: 10px;
    }
  }
}
