.inputBlock {
  display: flex;
  flex: 0 1 690px;
  margin: 0 7px;
  background: #ffffff;
  position: relative;

  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 8px 12px 8px 10px;
  gap: 4px;

  &__input {
    border: none;
    flex: 0 1 50%;
    outline: none;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }

  &__hints {
    display: grid;
    grid-template-columns: repeat(1,  minmax(100px, 714px));
    position: absolute;
    top: 43px;
    left: -1px;
  }
}

.hint {
  display: flex;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
