@import './src/base/normalize';
@import './src/base/fonts';
@import './src/base/variable';

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cards {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(7, 200px);
  }
}

.card {
  height: 290px;
  background-color: gray;
  border: 1px solid gold;
}
